/* Profile Options Changes Below */
.options {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ic {
    height: 6vh;
    width: 6vh;
}

.btn:hover {
    opacity: 75%;
}

/* Styles for Options Page, can be moved */
.box2 {
    background-color: #1c1c1d;
    width: 60vh;
    height: 80vh;
    border-radius: 10px;
}

.box2 .btn {
    position: relative;
    left: 90%;
}

.box2 h2 {
    position: relative;
    text-align: center;
    font-size: 5vh;
    color: white;
}

.box2 h3 {
    position: relative;
    font-size: 3.5vh;
    margin-left: 4vh;
}

.box2 p { /* Can be applied to any text children in the box */
    position: relative;
    font-size: 2.2vh;
    margin-left: 6vh;
}

.box2 ul {
    position: relative;
    font-size: 2.2vh;
}

.box2 li {
    position: relative;
    font-size: 2.2vh;
    margin-left: 6vh;
    list-style: none;
}