.section {
    
    display: grid;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    z-index: 100;
}   

.section h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.2;
    mix-blend-mode: overlay;
<<<<<<< HEAD:assets/styles.css
    z-index: -1;
}

.label {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.field {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
=======
}

>>>>>>> 74b2ec058b48b174a83e43f730ecf244e2ed53c0:assets/css/styles.css
