
html,
body {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.title {
  font-size: 3em;
  justify-content: center;
  display: flex;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  color: rgb(0, 160, 175);
  padding: 10px;
  width: 100%
}



.section {
  margin-top: 10%;
  position: relative;
  z-index: 1;
}

.video-background {
  filter: brightness(1.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.
  ); Optional: darken the video with a semi-transparent overlay
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 70%
}

.box,
.field,
.title
{
  position: relative;
  z-index: 1;
}

.button{
  background-color: rgb(117, 143, 144);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);

}

.control {
  max-width: 250px;
}

/* // Added this style for error message */
.message {
  text-align: center;
  font-weight: 600;
  color: red;
}

#search-box-container {
  max-width: 600px; /* Adjust width as needed */
  margin: 0 auto;

}

.tt-search-box-input-container  {
  border-radius: 10px;
  background-color: #fff;
  opacity: .5;
}

#search-box-container textarea {
  border-radius: 10px;
  background-color: transparent;
  
}
#search-button {
  display: block;
  margin: 10px auto;
  margin-right: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(117, 143, 144);
}

#recent-button {
  display: block;
  margin: 10px auto;
  margin-left: 3px;
}

.wrap-button {
  display: flex;
  justify-content: space-around;
}



.currency-exchange-box {
  max-width: 265px; /* Adjust width as needed */
  margin: 20px auto;
  padding: 10px;
  background: rgba(
    63,
    63,
    63,
    0.9
  ); /* Optional: slight background for visibility */
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.field {
  margin-bottom: 10px;
}

.button {
  width: 100px;
}

.label {
  color: #fff;
}
